
.colorCeleste{
    color: $color1;
    padding: 20px;
    text-align: center;
    animation-duration: 1s;
    animation-name: aparecer;
}

#carouselExampleCaptions{
    margin-top: 45px;
}

.segmentos{
        background-color: $color2;
        color: $color3;
        border: $color3 solid;
        width: 300px;
        height: 150px;
        text-align: center;
        margin: 20px;
}

.segmentosP{
    background-color: $color2;
    color: $color3;
    border: $color3 solid;
    width: 200px;
    height: 300px;
    margin: 20px;
    text-align: center;
}

.tabla{
    border: $color4;
    border-style: inset;
    background-color: $color2;
    color: $color3;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;

}
.tabla__Titulos{
    background-color: $color5; 
    color: $color4;
    
}
.imagenCambia{
    filter: grayscale(100%);
    animation-duration: 2s;
    animation-name: aparecer;

}
.imagenCambia:hover{
    filter: grayscale(0%);
}
