form{
    background-color: $color5;
    font-family: 'Barlow Condensed', sans-serif;
    padding: 50px 150px 50px 150px;
    text-align: center;
    animation-duration: 3s;
    animation-name: aparecer;
}