nav{
    list-style: none;
    background-image: linear-gradient(to top, $color4, $color1, $color4);
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    ul{
        list-style: none;
        content: 50px;
        li{
            float: left;
            padding: 10px;
            a{
                color: $color4;
                text-decoration: none;
                display: block;
                :hover{
                    background-color: grey;
                }
            }
        }
    }
}

