$color1:rgb(123, 189, 189);
$color2:rgb(35, 82, 85);
$color3:white;
$color4:black;
$color5:lightcyan;

@import "header";
@import "nav";
@import "section";
@import "form";
@import "footer";
@import "keyframes";
@import "class";
@import "mediaqueries";